body {
  margin: 0;
  background: linear-gradient(120deg, #000000, #15448b);
  font-family: 'Segoe UI', sans-serif;
  color: white;
  text-align: center;
}

.scene {
  display: none;
  min-height: 100vh;
  padding-top: 60px;
  animation: fade 0.8s ease;
}

.scene.active {
  display: block;
}

.gif {
  max-width: 70%;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(255,255,255,0.4);
}

/* From Uiverse.io by rubyreapergaming */ 
@import url("s://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#161a25, #161a25),
    linear-gradient(
      137.48deg,
      #f5434f 10%,
      #631e29 45%,
      #000000 67%,
      #161a25 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  font-family: "Orbitron", sans-serif;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: "Orbitron", sans-serif;
  font-size: 12px;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle-container {
  position: relative;
  width: 100%;
  height: 100%;
  animation: orbit 5s linear infinite;
}

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  filter: blur(2rem);
}

.circle:nth-of-type(1) {
  background: rgba(245, 67, 79, 0.636);
  animation: orbit 8s linear infinite;
}

.circle:nth-of-type(2) {
  background: rgba(99, 30, 41, 0.704);
  animation: orbit 10s linear infinite;
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #161a25;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px #631e29;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #631e29;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}


.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  margin-left: 900px; /* Moves the button 50px to the right */
  margin-top: 20px;  /* Moves the button 20px down */
}


@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
  }
}
html {
  --s: 140px; /* control the size */
  --c1: #AB3E5B;
  --c2: #FFBE40;
  
  --_g: 
    #0000 25%,#0008 47%,var(--c1)  53% 147%,var(--c2) 153% 247%,
    var(--c1) 253% 347%,var(--c2) 353% 447%,var(--c1) 453% 547%,#0008 553%,#0000 575%;
  --_s: calc(25%/3) calc(25%/4) at 50%; 
  background:
    radial-gradient(var(--_s) 100%,var(--_g)),
    radial-gradient(var(--_s) 100%,var(--_g)) calc(var(--s)/2) calc(3*var(--s)/4),
    radial-gradient(var(--_s) 0   ,var(--_g)) calc(var(--s)/2) 0,
    radial-gradient(var(--_s) 0   ,var(--_g)) 0                calc(3*var(--s)/4),
    repeating-linear-gradient(90deg,#ACCEC0 calc(25%/-6) calc(25%/6),#61A6AB 0 calc(25%/2));
  background-size: var(--s) calc(3*var(--s)/2);
  animation: m 2.5s infinite linear;
} 

@keyframes m {
  to {
    background-position:
      var(--s) 0,
      calc(var(--s)/-2) calc(3*var(--s)/4),
      calc(3*var(--s)/2) 0,
      calc(-1*var(--s)) calc(3*var(--s)/4),
      0 0
  }

  
}

